/* AddUserForm.css */

.add-user-form {
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    left: 40%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-user-form label {
    font-weight: bold;
  }
  
  .add-user-form input,
  .add-user-form select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-user-form .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .add-user-form button {
    width: calc(50% - 8px);
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-user-form .add {
    background-color: #00897B; /* Teal color */
    color: white;
  }
  
  .add-user-form .add:hover {
    background-color: #006d63; /* Darker teal on hover */
  }
  
  .add-user-form .cancel {
    background-color: #ccc;
    color: #333;
  }
  
  .add-user-form .cancel:hover {
    background-color: #bbb;
  }
  