/* Import the Lora font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: 'Lora', serif; /* Use the imported Lora font */
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #222222; /* Dark color for the heading */
}

.home-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 800px;
  margin-bottom: 15px;
  text-align: left;
}

.home-container p:first-of-type {
  font-weight: bold;
}
