.clients-table-container {
    margin-top: 1rem;
}

.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 1rem;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 300px; /* Adjust width as needed */
}

.clients-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.clients-table th,
.clients-table td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ccc;
}

.clients-table th {
    background-color: #f8f9fa;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
