.users-table-container {
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FDFFE2;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.add-user-btn {
    position: absolute;
    left: 90%;
    top: 15vh;
    background: #00897B;
    padding: 0.5rem;
    color: #f5f5f5;
    border-radius: 0.5rem;
}

.users-table-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.users-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.users-table th,
.users-table td {
    border: 1px solid #ddd;
    padding: 1.5vw;
    text-align: left;
}

.users-table th {
    background-color: #00897B;
    color: white;
    text-align: center;
}

.users-table td {
    font-size: 0.9rem;
    text-align: center;
}

.users-table .modify,
.users-table .delete {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-left: 1vw;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.users-table .delete {
    background-color: #FF0000;
    color: white;
}

.users-table .modify {
    background-color: #2196F3;
    color: #FDFFE2;
}

.users-table .delete:hover {
    background-color: #FDFFE2;
    border: 1px solid #FF0000;
    padding: 0.4rem 0.9rem;
    transition: background-color 1.5s ease, color 1.5s ease, border 1.5s ease;
    color: #000;
}

.users-table .modify:hover {
    background-color: #FDFFE2;
    border: 1px solid #2196F3;
    padding: 0.4rem 0.9rem;
    transition: background-color 1.5s ease, color 1.5s ease, border 1.5s ease;
    color: #000;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-buttons .save,
.form-buttons .cancel {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-buttons .save {
    background-color: #4CAF50;
    color: white;
}

.form-buttons .cancel {
    background-color: #f44336;
    color: white;
}

.form-buttons .save:hover{
    background-color: #FDFFE2;
    border: 1px solid #4CAF50;
    color: #000;
}

.form-buttons .cancel:hover {
    background-color: #FDFFE2;
    border: 1px solid #f44336;
    color: #000;
}

.search-bar {
    margin-bottom: 10px;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 1.5s;
}

.search-bar:focus {
    border: 1px solid #4CAF50;
}

.users-table-container .form-group {
    margin-bottom: 10px;
}

.users-table-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.users-table-container .form-group input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* Alternating row colors */
.users-table tbody tr:nth-child(even) {
    background-color: #ffffff;
    /* White */
}

.users-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
    /* Light gray or any color close to white */
}

@media (max-width: 768px) {
    .users-table-container {
        width: 100%;
        font-size: 2vw;
        height: 60vh;
    }

    .users-table td {
        font-size: 1.5vw;
    }

    .users-table th {
        font-size: 1.5vw;
    }

    .users-table {
        font-size: 0.85rem;
    }

    .users-table .modify,
    .users-table .delete {
        padding: 0.2rem 0.4rem;
        font-size: 0.4rem;
    }

    .users-table .delete:hover,
    .users-table .modify:hover {
        padding: 0.2rem 0.3rem;
        transition: background-color 1.5s ease, color 1.5s ease, border 1.5s ease;
        color: #000;
    }

    .modify-user-form {
        padding: 0.5rem;
        background-color: #f9f9f9;
        border-radius: 0.5rem;
        width: 90%;
        max-width: 90%;
        height: 60vh;
        position: absolute;
        top: 15vh;
        left: 5%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ccc;
    }

    .modify-user-form h1 {
        font-size: 1.2rem;
    }

    .modify-user-form .form-group {
        margin-left: 5%;
        margin-bottom: 1rem;
        width: calc(45% - 1rem);
    }

    .modify-user-form input {
        width: 90%;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .modify-user-form .save-button,
    .modify-user-form .cancel-button {
        width: 40%;
        padding: 0.5rem;
        font-size: 0.8rem;
        margin-top: 1rem;
        margin-left: calc(30%);
    }
}

/* Styles for the modification form */
.modify-user-form {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    width: 70%;
    height: 55vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    top: 35vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.modify-user-form h1 {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 800;
    color: #5A72A0;
    width: 100%;
}

.modify-user-form .form-group {
    margin-left: 2.5vw;
    margin-bottom: 1rem;
    width: calc(30% - 1rem);
}

.modify-user-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.modify-user-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.modify-user-form .save-button,
.modify-user-form .cancel-button {
    width: 30%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-left: calc(35%);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modify-user-form .save-button {
    background-color: #4CAF50;
    color: white;
}

.modify-user-form .cancel-button {
    background-color: #f44336;
    color: white;
}

.modify-user-form .save-button:hover,
.modify-user-form .cancel-button:hover {
    background-color: #FDFFE2;
    color: #000;
}

.search-bar {
    position: absolute;
    top: 12vh;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin: 1rem;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 1.5s;
}

.search-bar:focus {
    border: 1px solid #4CAF50;
    padding: 0.5rem;
}

